<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971592620882-001kh4740otue78vp6c6fem3f7k4cadl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971592620882-001kh4740otue78vp6c6fem3f7k4cadl</string>
	<key>API_KEY</key>
	<string>AIzaSyAi5ga9JPNSNOZHuFmNCLNwrpngpdvqMv0</string>
	<key>GCM_SENDER_ID</key>
	<string>971592620882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krishmalik.meridian</string>
	<key>PROJECT_ID</key>
	<string>proceedings-490601</string>
	<key>STORAGE_BUCKET</key>
	<string>proceedings-490601.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971592620882:ios:061e55d12dc68809def88b</string>
</dict>
</plist>